packages/
OpenNETCF.IoC/obj/
OpenNETCF.Extensions/obj/Debug/OpenNETCF.Extensions.FFx.csproj.FileListAbsolute.txt
OpenNETCF.Extensions/obj/
bin/
OpenNETCF.Google.Analytics/obj/
Samples/NavigationSample/NavigationSample.Droid/obj/
Samples/NavigationSample/NavigationSample.WinPhone/obj/
Samples/NavigationSample/NavigationSample.Windows/obj/
Samples/NavigationSample/NavigationSample.iOS/obj/
Samples/NavigationSample/NavigationSample/obj/
Samples/NavigationSample/NavigationSample.UWP/obj/
Examples/NavigationExample/NavigationExample/obj/
Examples/NavigationExample/NavigationExample.Droid/obj/
Examples/NavigationExample/NavigationExample.iOS/obj/
